# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.idea/
# Packaging
*.deb
*.tar.gz

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db
